@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
  }
  body {
    font-family: acumin-pro-wide, sans-serif;
    /* @apply h-fit bg-gradient-to-tr from-gray-700 via-gray-900 to-black; */
  }
  h1 {
    font-family: mixta-pro, serif;
    @apply mb-3 text-4xl font-serif font-black;
  }
  p {
    @apply mb-3 opacity-80;
  }
  section {
    @apply py-16;
  }
}

@layer components {
  .text-hero {
    @apply md:text-6xl lg:text-8xl;
  }
  .text-filter {
    font-family: mixta-pro, serif;
    text-shadow: #fff 0px 0px 0px;
    @apply mb-3 text-transparent text-neutral-800 transition-all opacity-50 cursor-pointer md:text-6xl hover:text-white;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
  }
  .container {
    @apply px-6;
  }
  .device-mockup {
    @apply bg-black rounded-xl w-fit relative flex items-center h-fit p-4 shadow-lg rotate-3 mx-auto;
  }
  #canvasWrapper {
    @apply h-[7000px];
  }
  #canvasWrapper canvas {
    @apply inset-0 mx-auto left-0 right-0 relative w-full;
  }
}
@layer utilities {
  .h2 {
    font-family: mixta-pro, serif;
    @apply mb-4 text-3xl font-black font-serif tracking-wide text-gray-900;
  }
  .h3 {
    @apply uppercase tracking-widest text-sm opacity-75;
  }
}
