@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-x-hidden;
  }
  body {
    @apply font-sans selection:bg-yellow-300 selection:text-yellow-900;
  }
  h1 {
    font-family: bely-display-pro, serif;
    @apply mb-3 text-6xl font-serif  text-dark;
  }
  h2 {
    font-family: bely-display-pro, serif;
    @apply mb-1 text-3xl font-serif  text-dark;
  }
  h3 {
    @apply uppercase tracking-widest text-sm opacity-75;
  }
  h4 {
    font-family: bely-display-pro, serif;
    @apply uppercase tracking-widest text-sm opacity-75;
  }
  dd {
    @apply text-sm;
  }
  p {
    @apply text-dark mb-3 opacity-80 text-2xl;
  }
  section {
    @apply py-20 md:py-40;
  }
  a {
    @apply focus:outline-none focus:ring focus:ring-yellow-500;
  }
  button {
    @apply focus:outline-none focus:ring focus:ring-yellow-500;
  }
}

@layer components {
  .text-hero {
    @apply text-5xl sm:text-8xl;
  }
  .container {
    @apply px-6;
  }
  .device-mockup {
    @apply w-[886px] mx-auto lg:mx-0 relative flex items-center h-[519px] bg-[url('../images/screen.png')] max-w-[100%] mt-[62px];
  }
  #canvasWrapper {
    @apply h-[7000px];
  }
  #canvasWrapper canvas {
    @apply inset-0 mx-auto right-0 bg-gray-500/30 absolute top-[5px] -left-[73px];
  }
  .project-filters {
    @apply justify-between w-full gap-2 flex sm:relative fixed z-50 bottom-0 left-0 h-20 md:h-auto bg-dark sm:bg-transparent;
  }
  .project-filter-pill {
    @apply flex items-center justify-center flex-col rounded-full sm:border sm:hover:border-brown sm:border-clay pb-1 pt-0.5 px-5 tracking-wider transition text-sm text-brown duration-700 hover:bg-brown hover:text-light/80 sm:h-fit;
  }
  .project-filter-pill-active {
    @apply bg-dark sm:border-dark text-light hover:bg-dark focus:outline-none focus:ring focus:ring-yellow-500;
  }
}

@layer utilities {
  .h2 {
    /* font-family: bely-display-pro, serif; */
    @apply mb-4 text-3xl font-black font-serif tracking-wide text-gray-900;
  }
  .h3 {
    @apply uppercase tracking-widest text-sm opacity-75 !font-normal;
  }
  .h4 {
    font-family: bely-display-pro, serif;
    @apply uppercase tracking-widest text-sm opacity-75;
  }
  .tag-group {
    @apply flex gap-2 py-4;
  }
  .tag {
    @apply rounded-md px-3 py-1 bg-dark/5 text-sm md:text-xs;
  }
  .card-title {
    @apply text-xl md:text-3xl font-black text-white mb-0;
  }
}
